{% extends "base.njk" %}

{% block titulo %}Habitaciones | Listado{% endblock %}

{% block contenido %}

    <h1>Listado de habitaciones</h1>
    <div class="container">
        <div class="row">
        {% for habitacion in habitaciones %}
                    <div class="col-md-4 p-2">
                        <div class="card shadow-sm" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Habitación {{ habitacion.numero }}</h5>
                                <p class="card-text"> Última limpieza: {{ habitacion.ultimaLimpieza | date("DD/MM/YYYY") }}</p>
                                <a href="/habitaciones/{{ habitacion.id }}"" class="btn btn-primary">Ver ficha</a>
                            </div>
                        </div>
                    </div>
        {% endfor %}
        </div>
    <div>
{% endblock %}