{% extends "base.njk" %}

{% block titulo %}Habitaciones | Listado{% endblock %}

{% block contenido %}

    <h1>Listado de habitaciones</h1>
        {% for habitacion in habitaciones %}
            <div class="container">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Habitación {{ habitacion.numero }}</h5>
                            <p class="card-text"> Ultima limpieza: {{ habitacion.ultimaLimpieza }}.</p>
                            <a href="#" class="btn btn-primary">Ver ficha</a>
                        </div>
                    </div>    
            </div>
        {% endfor %}
{% endblock %}