{% extends "base.njk" %}

{% block titulo %}Limpiezas | Nueva{% endblock %}

{% block contenido %}
    <h1>Limpiezas de habitación {{ habitacion.numero}}</h1>
    
    <form action="/limpiezas/{{ habitacion._id }}" method="post">
        <div class="form-group">
            <label>Fecha de limpieza:</label>
                <input type="date" class="form-control" name="fechaHora" value="{{limpieza.fechaHora | date("DD/MM/YYYY")}}"/>
                <p>{{limpieza.fechaHora | date("DD/MM/YYYY")}}</P>
        </div>
        <div class="form-group">
            <label>Observaciones:</label>
                <textarea class="form-control" name="observaciones" rows="10" cols="50">{{ datos.observaciones}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">
            Enviar
        </button>
    </form>

{% endblock %}