{% extends "base.njk" %}

{% block titulo %}Limpiezas | Listado{% endblock %}

{% block contenido %}
    <h1>Limpiezas de la habitación {{ habitacion.numero }}</h1>
    <a href="/limpiezas/nueva"" class="btn btn-primary">Nueva limpieza</a>
    <div class="container">
        <div class="row">
                {% for limpieza in limpiezas %}
                    <div class="col-md-4 p-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">{{ limpieza.fechaHora | date("DD/MM/YYYY") }}</p>
                                {% if limpieza.observaciones %}
                                    <p class="card-text">Observaciones: {{ limpieza.observaciones }}</p>
                                {% else %}
                                    <p class="card-text">Sin observaciones</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}