<nav class="bg-secondary">
    <ul class="nav">
        <li class="nav-item"><a class="btn btn-dark m-2" href="/habitaciones">Habitaciones</a></li>
        <li class="nav-item"><a class="btn btn-dark m-2" href="/habitaciones/nueva">Nueva habitación</a></li>
    </ul>
</nav>