<nav class="bg-secondary">
    <ul class="nav">
        <li class="nav-item"><a class="btn btn-dark m-2" href="/libros">Listado de libros</a></li>
        <li class="nav-item"><a class="btn btn-dark m-2" href="/libros/nuevo">Nuevo libro</a></li>
        <!-- Agrega más enlaces según sea necesario -->
    </ul>
</nav>